.icons_block {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

}
.blue > * {
  fill: blue;
}
.red > * {
  fill: red;
}
.orange > * {
  fill: orange;
}
.black > * {
  fill: black;
}
.green > * {
  fill: green;
}
