<app-search (search)="text = $event"></app-search>

<div appColoring #coloring=coloring>
  <div *ngFor="let size of uniqSizes">
    <h3 *ngIf="size===0; else elseBlock">Size is not specified</h3>
    <ng-template #elseBlock><h3>Size {{size}}</h3></ng-template>

    <div class="icons_block">
      <ng-container *ngFor="let icon of icons | keyvalue | sizeFilter:size | nameFilter:text">
        <app-list [icon]="icon"></app-list>
      </ng-container>
    </div>

  </div>
</div>

<app-buttons (click)="coloring.setColor($event.target.value)"></app-buttons>
